@import '../../global';

.entry {
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $entry-background-color;
  background-clip: border-box;
  border-radius: .25rem;
}

.entryItem {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.entryText {
  text-transform: lowercase;
}

.entryMeta {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.entryMetaLeft {
  display: flex;
  margin-right: 10px;

  a {
    color: $entry-meta-left-link;
    margin-right: 15px;

    &:hover {
      color: $entry-meta-left-link-hover;
    }
  }
}



.entryMetaRight {
  display: flex;

  a {
    color: $entry-meta-right-link;
    margin-left: 15px;

    &:hover {
      color: $entry-meta-right-link-hover;
    }
  }
}

